<% layout('layouts/boilerplate')%>
<link href="style.css" rel="stylesheet" type="text/css">

<div class="container justify-content-center">
  <h2 class="justify-content-center">Create New Account</h2>
  
  <div class="form-grop mt-3">
    <h6>First Name</h6>
    <label for="fname"></label>
    <input type="text" class="input-file w-25 p-1" id="fname" name="fname" placeholder="first name" >
  </div>

  <div class="form-grop mt-3">
    <h6>Last Name</h6>
    <label for="lname"></label>
    <input type="text" class="input-file w-25 p-1" id="lname" name="lname" placeholder="last name"  width="400">
  </div>

  <div class="form-grop mt-3">
    <h6>Email</h6>
    <label for="email"></label>
    <input type="text" class="input-file w-25 p-1" id="email" name="email" placeholder="email">
  </div>
  <div class="form-grop mt-3">
    <h6>Password</h6>
    <label for="password"></label>
    <input type="text" class="input-file w-25 p-1" id="password" name="password" placeholder="password">
  </div>
  <div class="form-grop mt-3">
    <h6>Confirm Password</h6>
    <label for="cpassword "></label>
    <input type="text" class="input-file w-25 p-1" id="cpassword" name="c_password" placeholder="confirm password" >
  </div>
  <br>
  <div class="row">
    <div class="col-2">
  <button class="btn btn-success">Sign up</button>
</div>
<div class="col-3">
  <button class="btn btn-info">Log In</button>
</div>
  </div>

</div>
